/* Component enclosing tag */
.Contact {
    padding: 1em;
    background: #555;
    width: 220px;
    display: flex;
    align-items: center;
    border: 1px solid grey ;
  }

  .Contact1 {
    padding: 1em;
    background: red;
    width: 220px;
    display: flex;
    align-items: center;
    border: 1px solid grey ;
  }

  .Contact1 .name1 {
    margin: 0;
    transform: translate (-10%,5%) ;
    color: blue;
  }
  
  /* Contact image */
  .Contact .avatar {
    border-radius: 50%;
    margin-right: .5em;
    width: 20px;
    height:20px ;
    overflow: hidden;
  }
  
  /* Name */
  .Contact .name {
    margin: 0;
    transform: translate (-10%,5%) ;
    color: white;
  }
  
  /* Status text */
  .Contact .status-text {
    color: lightgray;
  
  }

  
  /* Status (rounded&colored indicator) */
  .Contact  .Online,
  .Contact  .Offline {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    margin-left: 6px;
  }
  
  .Contact  .Online {
    background: #aed581;
  }
  
  .Contact  .Offline {
    background: red;
  }